html{ width: 100px; height:100px; background: green; font-size: 22px; 
	body{
		background: red; color: green; font-size: 16px; line-height: 20px; line-height: 33px; background: gray; 
		background:url(/Public/images/sss.jpg?1460690431268) no-repeat;
	}
}
